.products-admin{
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y:scroll;
}
.products-admin::-webkit-scrollbar{
    width: 0;
}

.add-product-button{
    position: absolute;
    bottom: 5%;
    right:5%;
}
.table-body{
    min-width:1000px;
    position:relative;
    max-width:1000px;
    margin:0 auto;
    margin-top:10px;

}
.form-photo{
    display: flex;
    justify-content: center;
}
.search-text{
    width: 80%;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
}
