.admin-drawer{
    margin-top: 50px;
}
.admin-base{
    height: 90vh;
    padding-top: 60px;
}
.open-admin{
    padding:60px 1% 1% 18%;
    transition:all .3s ease;

}
.closed-admin{
    padding:60px 1%;
    transition:all .3s ease;
}
.admin-bar{
    background: #8e1c58;
}