.admin-drawer{
    margin-top: 50px;
}
.admin-base{
    min-height: 90vh;
    padding-top: 60px;

}
.admin-base::-webkit-scrollbar{
    width: 0;
}
.open-admin{
    padding:60px 1% 1% 18%;
    transition:all .3s ease;

}
.closed-admin{
    padding:60px 1%;
    transition:all .3s ease;
}
.admin-bar{
    background: #8e1c58;
}
.menu-selected{
    color:white;
    background: #8e1c58;
}